* {
    font-family: 'Roboto', sans-serif;
}

body{
    border-radius: 2rem;
    width: 20rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    background-color: #ffffff !important;
    /* background-color: rgb(42, 42, 42);
    color: rgb(199, 199, 199); */
}

hr {
    margin: 0.5rem 0 !important;
    border: none !important;
    border-top: 1px solid #949bde !important;
}

.title{
    font-weight: 600;
    font-size: 1.2rem;
}

.container-title{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.container-footer{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.title-economy{
    flex: 1;
}

.bookmark{
    display: flex;
    flex-direction: row;
    align-items: center; 

    /* padding: 0.5rem; */
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: rgb(227, 235, 239);
    margin-top: 0.2rem;
    border-radius: 0.25rem;
    
}
.bookmark-title{
    flex: 1;
    cursor: pointer;
}

.bookmark-controller{
    display: flex;
    flex-direction: row;
    align-items: center; 

    height: 100%;
    padding-top: 0rem;
    padding-bottom: 0rem;
}


.text-none{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: rgb(75, 75, 75);
    font-style: italic;

    width: 100%;
    font-style: normal;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
}

.img-btn{
    cursor: pointer;
    height: 1rem;
    width: auto;
    object-fit: contain;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    z-index: 10;
}
.img-btn:hover{
    /* background-color: #b9b9b9; 
    border-radius: 20%;
    color: #333;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    transform: scale(1.2);
}

.text-blur {
    filter: blur(4px);
}